@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome</h1>
    <p>Download Azure Storage Explorer and local for change <strong>'StorageLocalConStr'</strong> or Azure portal <strong>'StorageCloudConStr'</strong> 
    in appsettings.json for Azure Storage Example and Azure Functions.</p>
</div>
