@model List<BlobViewModel>


@section Scripts
{
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script type="text/javascript">

        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder().withUrl("/NotificationHub").build();

            connection.start().then(() => {
                console.log(connection.connectionId);
            });

            connection.on("NotifyCompleteWatermarkProcess", () => {

                $("#info").text("INFO : Selected pictures added watermark.");
            })

            var pictures = new Array();

            var UserId = "@ViewBag.UserId";
            var UserPartitionKey = "@ViewBag.UserPartitionKey";

            $("#images img").click(function () {

                if ($(this).hasClass("selected")) {

                    pictures.splice($(this).attr("data-name"), 1);
                    $(this).css("border", "0px solid red");
                    $(this).removeClass("selected");
                }
                else {
                    $(this).css("border", "3px solid red");
                    pictures.push($(this).attr("data-name"));
                    $(this).addClass("selected");
                }
            });

            $("#removePicture").click(() => {
                $.ajax({
                    type: "POST",
                    url: 'Pictures/DeletePaths',
                    data: { pictures: pictures },
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(data, status) {
                    location.reload();
                }

                function errorFunc() {
                    console.log('error');
                }
            });

            $("#addWaterMark").click(() => {

                let pictureWaterMarkQueque =
                {
                    "UserId": UserId, "UserPartitionKey": UserPartitionKey, "ConnectionId": connection.connectionId, "WatermarkText": $("#waterMarkText").val(), "Pictures": pictures
                };
                $("#info").text("INFO : Selected pictures adding watermark please wait.");
                $.ajax({
                    type: "POST",
                    url: 'Pictures/AddWaterMark',
                    data: { pictureWaterMarkQueque: pictureWaterMarkQueque },
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(data, status) {
                    console.log('success');
                }

                function errorFunc() {
                    console.log('error');
                }
            });

        });

    </script>
}
<div id="header" class="row m-1 mt-3">
    <hr />
    <h2 class="text-center text-white bg-dark rounded p-1 col-12">Pictures</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">

            <div class="row">

                <div class="col-9"></div>
                <form class="form-inline row" asp-action="Index" method="post" enctype="multipart/form-data">
                    <input class="form-control-file col-8" type="file" name="pictures" multiple />
                    <input class="btn btn-primary form-control col-3 btn-block" type="submit" value="Add Picture" />
                </form>

                <button id="removePicture" class="btn btn-danger form-control col-3 tn-block">Remove Picture</button>
            </div>
        </div>
   
        <div class="col-6">
            <div class="row">
                <input id="waterMarkText" type="text" class="form-control col-6" placeholder="Watermark text..." />
                <button id="addWaterMark" class="btn btn-warning form-control col-4 btn-block offset-2 btn-block">Add Watermark</button>
            </div>
        </div>


    </div>
</div>
<div id="info" class="row alert alert-info m-1 mt-5">
    INFO : 

</div>

<div class="row mt-5"  id="images">

    <div class="col-12">
        @foreach (var blob in Model)
        {
            <img style="width:200px; height:200px;" data-name="@blob.Name" src="@blob.Url" />
        }
    </div>
</div>

